.joke-animation-enter {
    opacity: 0;
    transform: scale(0.7);
}
.joke-animation-enter-active {
    opacity: 0.92;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.joke-animation-exit {
    opacity: 0.92;
}
.joke-animation-exit-active {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 300ms, transform 300ms;
}

.joke {
    padding: 20px;
    background: #F8F8F8;
    border-radius: 20px;
    margin: 20px 0;
}

.joke__save {
    display: block;
    cursor: pointer;
    width: 24px;
    float: right;
    margin: 10px;
}

.joke__message {
    display: flex;
    width: 100%;
}

.joke__message-picture-container {
    width: 40px;
    height: 40px;
    min-width: 40px;
    background: white;
    border-radius: 50%;
}

.joke__message-picture {
    display: block;
    margin: 11px auto 10px auto;
}

.joke__content {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
}

.joke__id-link-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ABABAB;
}

.joke__id-link-text_color_blue {
    color: #1dc6c1;
}

.joke__id-link-pic {
    margin-left: 2px;
}

.joke__text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 5px;
}

.joke__date {
    font-size: 12px;
    line-height: 14px;
    color: #ABABAB;
}