.search-filter {
    display: flex;
    flex-direction: column;
}

.search-filter__button {
    width: 152px;
    height: 42px;
}

.category__category-text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.search-filter__category-text {
    color: #ABABAB;
}

.search-filter__categories-container {
    display: none;
    flex-wrap: wrap;
}

.category {
    cursor: pointer;
    border-radius: 6px;
    padding: 2.5%;
}

.search-filter__category {
    background: rgba(255, 255, 255, 0.93);
    margin: 0 8px 8px 2px;
    border: 2px solid #F8F8F8;
    transition: background 0.2s, transform 0.2s;
}

.search-filter__category:hover {
    background: #F8F8F8;
    transform: scale(1.05);
}

.search-filter__category:active {
    transform: scale(1);
}

.search-filter__text-input {
    display: none;
    border: 2px solid black;
    margin: 0 0 10px 4px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
    border-radius: 10px;
    opacity: 0.92;
}

.search-filter__text-input:focus {
    color: black;
}

.search-filter__filter-label {
    cursor: pointer;
    position: relative;
    max-width: max-content;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
}

.search-filter__filter-label-text {
    margin-left: 35px;
    position: relative;
    bottom: 1px;
}

.search-filter__submit-button {
    cursor: pointer;
    margin: 10px 5px 10px 0;
    width: 152px;
    height: 42px;
    background: #1dc6c1;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: white;
    transition: transform 0.2s;
}

.search-filter__submit-button:hover {
    transform: scale(1.1);
}

.search-filter__submit-button:active {
    transform: scale(1);
}

.search-filter__input-radio {
    margin-left: 0;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.search-filter__input-radio_custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #ABABAB;
    border-radius: 50%;
}

.search-filter__input-radio:checked ~ .search-filter__input-radio_custom {
    border: 2px solid black;
}

.search-filter__input-radio_custom::after {
    content: "";
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    transition: background 0.2s;
}

.search-filter__input-radio:checked ~ .search-filter__input-radio_custom::after{
    display: block;
    background: black;
}

.search-filter__input-radio_custom:hover::after,
.search-filter__filter-label:hover .search-filter__input-radio_custom::after {
    background: #ABABAB;
    display: block;
}

.search-filter__input-radio:checked ~ .search-filter__input-radio_custom:hover::after,
.search-filter__filter-label:hover .search-filter__input-radio:checked ~ .search-filter__input-radio_custom::after {
    background: black;
}
