/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute !important;
    width: 28px !important;
    height: 122px !important;
    right: 5%;
    top: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47 !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 28px !important;
    width: 122px !important;
    position: absolute;
    right: 4% !important;
    top: 2% !important;
}

/* Color/shape of close button cross */
.bm-cross {
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed !important;
    height: 100% !important;
    width: 33% !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .bm-menu-wrap {
        width: 66% !important;
    }
}

@media (max-width: 768px) {
    .bm-menu-wrap {
        width: 100% !important;
    }
}

.bm-menu::-webkit-scrollbar {
    width: 0;
}

/* General sidebar styles */
.bm-menu {
    background: #F8F8F8 !important;
    padding: 40px !important;
    font-size: 1.15em !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47 !important;
}

/* Wrapper for item list */
.bm-item-list {
}

/* Individual item */
.bm-item {
    display: inline-block !important;
}

.bm-item:focus {
    outline: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
}

.sidebar__fav-text {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}