@import 'modules/sidebar/sidebar.styles.css';
@import 'modules/container/container.styles.css';
@import 'modules/search-filter/search-filter.styles.css';
@import 'modules/jokes/jokes.styles.css';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input:focus, button:focus {
  outline: none;
}

