.wrapper {
    width: 47%;
    padding: 5% 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../assets/img/background.jpg");
}

@media (max-width: 1200px) {
    .wrapper {
        width: auto;
    }

    .container__header {
        background: rgba(255,255,255,0.92);
        padding: 20px;
        border-radius: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
}


.container__jokes {
    margin-top: 10px;
}

.container__greetings {
    margin: 40px 0;
}

.container__greetings_hey {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}

.container__greetings_lets {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
}